@model IEnumerable<Lê_Hồng_Cát_Tường_2011063819.Models.Coursess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoriess.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoriess.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.place }) |
            @Html.ActionLink("Details", "Details", new { id=item.place }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.place })
        </td>
    </tr>
}

</table>
